@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.truncate-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.scrollbar-hide ::-webkit-scrollbar{
  display: none;
}

.scrollbar-hide{
  -ms-overflow-style: none;
  scrollbar-width: none;
}